.sesion {
    margin: 5rem 0;
    display: grid;
    grid-gap: 1rem;
    justify-items: center;
	animation: scale-up-center 0.3s linear both;
}
  
.sesion h2 {
    grid-column: -1 / 1;
    font-size: 4rem;
    margin: 1rem;
}

.sesion__formulario {
    display: grid;
    grid-template-columns: min-content auto;
    height: 100%;
    grid-gap: 0.5rem;
    padding: 0 5rem;
    justify-items: normal;
    width: 50%;
    border: solid var(--color-azuloscuro);
    border-radius: 2rem;
    background: var(--color-petroleo);
    box-shadow: var(--sombra-negra);
    align-items: center;
}

.sesion__formulario__link {
    grid-column: -1 / 1;
    margin: 1rem 0;
    padding: 0.5rem;
    font-size: 1.5rem;
    background: var(--color-azul);
    border: solid 0.1rem var(--color-azuloscuro);
    border-radius: 1rem;
}

.sesion__formulario__link:hover {
    background-color: var(--color-azuloscuro);
    text-decoration: underline white;
    transition: all 0.4s ease 0s
}


@keyframes scale-up-center {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
}


@media (max-width: 700px) {
    .sesion__formulario {
        grid-template-columns: 1fr;
        width: 100%;
}
}
